
.App {
  text-align: center;
}

.footer{
  background-color: black;
  height: 250px;
  color: white;
}

.footer svg{
  margin-top: -80px;
  margin-left: 10px;
}

.footer svg:hover{
  transform: scale(1.2);
  /* transition: 1.5s; */
  cursor: pointer;
}

.footer h1{
  color: white;
}

.footer .social{
  display: flex;
  justify-content: flex-end;
  margin: 20px;
}

.footer .director h4{
  margin-left: -1000px;
}


.Homefooter{
  background-color: black;
  height: 250px;
  color: white;
  margin-top: -23px;
}

.Homefooter svg{
  margin-top: -80px;
  margin-left: 10px;
}

.Homefooter svg:hover{
  transform: scale(1.2);
  /* transition: 1.5s; */
  cursor: pointer;
}

.Homefooter h1{
  color: white;
}

.Homefooter .social{
  display: flex;
  justify-content: flex-end;
  margin: 20px;
}

.Homefooter .director h4{
  margin-left: -1000px;
}